<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">
    <!--<logger name="org.hibernate.stat" level="DEBUG"/>-->
    <property file="${EROBIC_HOME}/log.properties"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${fun_with_hibernate.log_file}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${fun_with_hibernate.log_file}_%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${fun_with_hibernate.max_file_size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 30 days' worth of history -->
            <maxHistory>${fun_with_hibernate.max_history}</maxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>cron
    </appender>

    <root level="${fun_with_hibernate.log_level}">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE"/>
    </root>  
  
</configuration>

